* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.characterCards {
  display: grid;
  grid-template-columns: 1fr;
}
.eachCard img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}




  